@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 20%;
    --card: 60 100% 99%;
    --card-foreground: 60 15% 20%;
    --popover: 60 100% 99%;
    --popover-foreground: 60 15% 20%;
    --primary: 50 100% 50%;
    --primary-foreground: 60 15% 20%;
    --secondary: 50 90% 40%;
    --secondary-foreground: 60 15% 20%;
    --muted: 50 80% 30%;
    --muted-foreground: 60 15% 20%;
    --accent: 50 90% 40%;
    --accent-foreground: 60 15% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 15% 20%;
    --border: 50 70% 70%;
    --input: 50 70% 70%;
    --ring: 50 80% 60%;
    --radius: 0.5rem;

    --c-yellow-2: #f9e923;
    --c-green-1: #0af429;
  
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-image-background-image: -webkit-linear-gradient(45deg, var(--c-yellow-2) 65%, var(--c-green-1) 30%);
  }

  .dark {
    --background: 220 100% 10%;
    --foreground: 220 15% 90%;
    --card: 220 100% 15%;
    --card-foreground: 220 15% 90%;
    --popover: 220 100% 15%;
    --popover-foreground: 220 15% 90%;
    --primary: 220 80% 60%;
    --primary-foreground: 220 15% 90%;
    --secondary: 220 70% 50%;
    --secondary-foreground: 220 15% 90%;
    --muted: 220 60% 40%;
    --muted-foreground: 220 15% 90%;
    --accent: 220 70% 50%;
    --accent-foreground: 220 15% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 220 15% 90%;
    --border: 220 50% 70%;
    --input: 220 50% 70%;
    --ring: 220 80% 60%;

    --c-yellow-2: #0af429;
    --c-green-1:  #f9e923;
   
  
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-image-background-image: -webkit-linear-gradient(45deg, var(--c-yellow-2) 65%, var(--c-green-1) 30%);
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .zoom-image [data-rmiz-modal-overlay="visible"] {
    @apply bg-background/10 backdrop-blur;
  }

  .zoom-image [data-rmiz-modal-img] {
    @apply rounded-md lg:rounded-2xl;
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
